<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Alvin Khoo (c) 2017">

    <title>Vue TeChan 1</title>

    <!-- Bootstrap Core CSS -->
    <!-- link rel="stylesheet" href="welcome/css/bootstrap.min.css" type="text/css" -->

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic" />
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="//unpkg.com/vue-material/dist/vue-material.css" />

<style>

    body {
        font: 10px sans-serif;
    }

    path.candle {
        stroke: #000000;
    }

    path.candle.body {
        stroke-width: 0;
    }

    path.candle.up {
        fill: #00AA00;
        stroke: #00AA00;
    }

    path.candle.down {
        fill: #FF0000;
        stroke: #FF0000;
    }

    .y.annotation.left path {
        fill: #00AA00;
    }

    .y.annotation.right path {
        fill: #FF0000;
    }

    .x.annotation path {
        fill: #DDD80E;
    }

    .crosshair {
        cursor: crosshair;
    }

    .crosshair path.wire {
        stroke: #DDDDDD;
        stroke-dasharray: 1, 1;
    }

    .crosshair .axisannotation path {
        fill: #DDDDDD;
    }

</style>
</head>

<div id="app">
  
  <div class="main-content">
	<div>
	  <md-button id="go" class="md-raised md-primary" v-on:click.native="revMess">Redraw</md-button>
                <select id="pair" v-model="selected">
                  <option v-for="option in options" v-bind:value="option">
                    {{ option }}
                  </option>
                </select>
      <input id="start" type="text" value="2017-05-06T21:30:00Z" style="width:240px"></input><input id="end" type="text" value="2017-05-07T00:00:00Z" style="width:240px"></input><input id="shift" type="text" style="width: 50px" value="30"></input><button onclick="shifttime('down')"><<</button><button onclick="shifttime('up')">>></button>
	</div>

	<div id="Dash"></div>
  </div>
</div>

<script src="//d3js.org/d3.v4.min.js"></script>
<script src="//d3js.org/d3-transition.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.min.js"></script>
<script src="//d3js.org/d3-time.v1.min.js"></script>
<script src="//d3js.org/d3-time-format.v2.min.js"></script>

<script src="techan.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="//unpkg.com/vue"></script>
<script src="//unpkg.com/vue-material@0.7.1"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<script>
function shifttime(direction){
    var shift = jQuery("#shift").val()
    var start = jQuery("#start").val()
    var end = jQuery("#end").val()
    if (direction=="down"){
        shift = -shift
    }else{
        shift = shift
    }
    jQuery("#start").val( moment.utc(start).add(shift,"minutes").format() )
    jQuery("#end").val( moment.utc(end).add(shift,"minutes").format() )
    jQuery("#go").trigger('click');
    
}

var coin_pairs = ["BTC_AMP", "BTC_ARDR", "BTC_BCN", "BTC_BCY", "BTC_BELA", "BTC_BLK", "BTC_BTCD", "BTC_BTM", "BTC_BTS", "BTC_BURST", "BTC_CLAM", "BTC_DASH", "BTC_DCR", "BTC_DGB", "BTC_DOGE", "BTC_EMC2", "BTC_ETC", "BTC_ETH", "BTC_EXP", "BTC_FCT", "BTC_FLDC", "BTC_FLO", "BTC_GAME", "BTC_GNO", "BTC_GNT", "BTC_GRC", "BTC_HUC", "BTC_LBC", "BTC_LSK", "BTC_LTC", "BTC_MAID", "BTC_NAUT", "BTC_NAV", "BTC_NEOS", "BTC_NOTE", "BTC_NXC", "BTC_NXT", "BTC_OMNI", "BTC_PASC", "BTC_PINK", "BTC_POT", "BTC_PPC", "BTC_RADS", "BTC_REP", "BTC_RIC", "BTC_SBD", "BTC_SC", "BTC_SJCX", "BTC_STEEM", "BTC_STR", "BTC_STRAT", "BTC_SYS", "BTC_VIA", "BTC_VRC", "BTC_VTC", "BTC_XBC", "BTC_XCP", "BTC_XEM", "BTC_XMR", "BTC_XPM", "BTC_XRP", "BTC_ZEC", "ETH_GNO", "ETH_GNT", "ETH_LSK", "ETH_STEEM", "USDT_BTC", "USDT_DASH", "USDT_ETC", "USDT_ETH", "USDT_LTC", "USDT_NXT", "USDT_REP", "USDT_STR", "USDT_XMR", "USDT_XRP", "USDT_ZEC", "XMR_DASH", "XMR_ZEC", "BTC_NMC", "BTC_XVC", "ETH_ETC", "ETH_REP", "ETH_ZEC", "XMR_BCN", "XMR_BLK", "XMR_BTCD", "XMR_MAID", "XMR_NXT", "XMR_LTC"];

/* Vue stuff */
Vue.use(VueMaterial)

var App = new Vue({
  el: '#app',
  data: {
    message: 'Hello Vue.js!',
    options: coin_pairs,
    selected: 'BTC_ETH'
  },
  methods: {
    revMess: function () {
      redrawChart();
    }
  }

})

var json_api = '//web.abstractsoftware.ca/api/returnPair?pair=' + App.selected + '&start=' + document.getElementById("start").value + '&end=' + document.getElementById("end").value
/* d3 stuff */

    var margin = {top: 20, right: 80, bottom: 30, left: 80},
            width = 960 - margin.left - margin.right,
            height = 500 - margin.top - margin.bottom;

    var parseDate = d3.timeParse("%d-%b-%y");

    var x = techan.scale.financetime()
            .range([0, width]);

    var y = d3.scaleLinear()
            .range([height, 0]);

    var candlestick = techan.plot.candlestick()
            .xScale(x)
            .yScale(y);

    var xAxis = d3.axisBottom(x);

    var xTopAxis = d3.axisTop(x);

    var yAxis = d3.axisLeft(y);

    var yRightAxis = d3.axisRight(y);

    var ohlcAnnotation = techan.plot.axisannotation()
            .axis(yAxis)
            .orient('left')
            .format(d3.format(',.2f'));

    var ohlcRightAnnotation = techan.plot.axisannotation()
            .axis(yRightAxis)
            .orient('right')
            .translate([width, 0]);

    var timeAnnotation = techan.plot.axisannotation()
            .axis(xAxis)
            .orient('bottom')
            .format(d3.timeFormat('%m-%d %I:%M'))
            .width(65)
            .translate([0, height]);

    var timeTopAnnotation = techan.plot.axisannotation()
            .axis(xTopAxis)
            .orient('top');

    var crosshair = techan.plot.crosshair()
            .xScale(x)
            .yScale(y)
            .xAnnotation([timeAnnotation, timeTopAnnotation])
            .yAnnotation([ohlcAnnotation, ohlcRightAnnotation])
            .on("enter", enter)
            .on("out", out)
            .on("move", move);

    var svg = d3.select("body").append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var coordsText = svg.append('text')
            .style("text-anchor", "end")
            .attr("class", "coords")
            .attr("x", width - 5)
            .attr("y", 15);

    d3.json(json_api, function(error, data) {
        var accessor = candlestick.accessor();
	var prev_close, curr_close;

        data = data.slice(0, 200).map(function(d) {
	    prev_close = curr_close;
	    curr_close = d.close;
            return {
                date: new Date(d.dateStart),
                open: +prev_close || d.close,
                high: +d.high,
                low: +d.low,
                close: +d.close,
                volume: +d.buy.amount + d.sell.amount
            };
        }).sort(function(a, b) { return d3.ascending(accessor.d(a), accessor.d(b)); });

        x.domain(data.map(accessor.d));
        y.domain(techan.scale.plot.ohlc(data, accessor).domain());

        svg.append("g")
                .datum(data)
                .attr("class", "candlestick")
                .call(candlestick);

        svg.append("g")
                .attr("class", "x axis")
                .call(xTopAxis);

        svg.append("g")
                .attr("class", "x axis")
                .attr("transform", "translate(0," + height + ")")
                .call(xAxis);

        svg.append("g")
                .attr("class", "y axis")
                .call(yAxis);

        svg.append("g")
                .attr("class", "y axis")
                .attr("transform", "translate(" + width + ",0)")
                .call(yRightAxis);

        svg.append("g")
                .attr("class", "y annotation left")
                .datum([{value: 74}, {value: 67.5}, {value: 58}, {value:40}]) // 74 should not be rendered
                .call(ohlcAnnotation);

        svg.append("g")
                .attr("class", "x annotation bottom")
                .datum([{value: x.domain()[30]}])
                .call(timeAnnotation);

        svg.append("g")
                .attr("class", "y annotation right")
                .datum([{value: 61}, {value:52}])
                .call(ohlcRightAnnotation);

        svg.append("g")
                .attr("class", "x annotation top")
                .datum([{value: x.domain()[80]}])
                .call(timeTopAnnotation);

        svg.append('g')
                .attr("class", "crosshair")
                .datum({ x: x.domain()[80], y: 67.5 })
                .call(crosshair)
                .each(function(d) { move(d); }); // Display the current data

        svg.append('text')
                .attr("x", 5)
                .attr("y", 15)
                .text("CryptoCoin Chart");
    });

    function enter() {
        coordsText.style("display", "inline");
    }

    function out() {
        coordsText.style("display", "none");
    }

    function move(coords) {
        coordsText.text(
            timeAnnotation.format()(coords.x) + ", " + ohlcAnnotation.format()(coords.y)
        );
    }

</script>

</body>
</html>


