<template>
  <div id="' + divId + '" class="pair ' + pair + '">
    <div class="historyBar" v-html="makeHistoryBar"></div>
    <table class="table crytable table-striped table-hover table-condensed">
        <thead>
            <tr><td><input v-model="pair"></td><td>{{last}}</td><td<td style="width:5px"></td>
            <tr><td><select class="pairselect" v-model="pair" v-on:change="changed" v-on:focus="focus" v-on:blur="blur"><option v-for="pr in pairSets" v-bind:value="pr.value">{{pr.text}}</option></select></td><td>{{last}}</td><td<td style="width:5px"></td>
        </thead>
        <tbody>
            <tr><td colspan="3">
                <div class="progress">
                    <div v-if="low24hr > 0" class="progress-bar progress-bar-striped active" role="progressbar" :aria-valuenow="range24hr" aria-valuemin="0" aria-valuemax="100" :style="{width: range24hr + \'%\',whiteSpace: WS,color: C,paddingLeft: PL}">
                      24HR --- low: {{low24hr}} high: {{high24hr}} --- {{range24hr}}%
                    </div><div v-else><img src="polo/images/loading2.gif"></div>
                </div></td>
            </tr>
            <tr><td>Lowest Ask:</td><td>{{lowestAsk}}</td><td<td style="width:5px"></td>
            <tr><td>Highest Bid:</td><td>{{highestBid}}</td><td<td style="width:5px"></td>
            <tr><td>24 hr Change:</td><td v-bind:class="{greenb: percentChange>0, red: percentChange<0}">{{percentChange}}</td><td>
            <tr><td>{{base}} Volume:</td><td>{{baseVolume}}</td><td<td style="width:5px"></td>
            <tr><td>{{coin}} Volume:</td><td>{{quoteVolume}}</td><td<td style="width:5px"></td>
        </tbody>
    </table>
  </div>
</template>


<script>
export default {
    name: 'coinview',
    props: [''],
    data: function(){
            makeData(poloPairs.data.pairs.pair1.name)
    },
    watch: {
        pair: function(){
            $("#" + poloPairs.data.pairs.pair1.name).attr("id", this.pair)
            poloPairs.data.pairs.pair1.name = this.pair;
            $('#if1').attr('src', 'pair_graph.html?pair=' + this.polo_name);
            setLs("pairs",poloPairs.data.pairs,true)
            resetPair(this)
        }
    },
    computed: {
        makeHistoryBar: function () {
            return makeHistBar(this.pair)
        },
        pairSets: function(){
            if(poloPairs.data.pairSets){
                return poloPairs.data.pairSets.map(function(x){
                    return {text:x, value:x}
                })
            }
        },
        base: function(){
            return this.pair.split("_")[0]
        },
        coin: function() {
            return this.pair.split("_")[1]
        },
        polo_name: function(){
            var a = this.pair.split("_");
            return a[1] + a[0];
        }
    },
    events: {

    },
    methods: {
        changed: function(){
            setUpdates(false)
        },
        focus: function(){
            setUpdates(true)
        },
        blur: function(){
            setUpdates(false)
        }
    }
}

function resetPair(model){
    try{
        var lastPairData = poloPairs.data.pairHistories.find(x => x.pair == model.pair).data[0]
        model.low24hr = 0
        model.high24hr = 0
        model.lowestAsk = lastPairData.la
        model.highestBid = lastPairData.hb
        model.range24hr = 0
        model.percentChange = lastPairData.pc
        model.baseVolume = lastPairData.cov
        model.quoteVolume = lastPairData.cuv
        model.last = lastPairData.ls
    }catch(e){}
    if (document.activeElement) {
        document.activeElement.blur();
    }
}

function setUpdates(state){
    window.holdupdates = state;
    if(state=true){
        setTimeout(()=>{
            window.holdupdates = false;
        }, 7500)
    }
}

function makeData(pair) {
    //return ["pair",0,0,0,0,0,0,0,0,0,50]
    return {
        pair: pair,
        last: 0,
        lowestAsk: 0,
        highestBid: 0,
        percentChange: 0,
        baseVolume: 0,
        quoteVolume: 0,
        isFrozen: 0,
        high24hr: 0,
        low24hr: 0,
        range24hr: 50,
        WS: "nowrap", //for progressbar style
        C: "black", //for progressbar style
        PL: "20px", //for progressbar style
        historyBarLength: 600,
        sameCount: 0
    };
}

function makeHistBar(pair){
    
    try{
        var curTime = Math.floor(Date.now() / 1000);
        var isOld = function(item){return (item.ts > curTime - histBarTimeLength)}
        var h = poloPairs.data.pairHistories.find(x => x.pair == pair).data.filter(isOld);
        var bar = "", title="", clsOuter="",clsInner="", oldestPrice, oldestTime, newestTime;
        var mw = "max-width: " + Math.min(370 / h.length,20) + "px;";
        var largeChangeAmount = .1;  //percent change on one tick to classify as big change

        var minValue = 0; maxValue = 0
        if(h.length){
            minValue = h.reduce(function(prev,curr){
                return prev.ls < curr.ls?prev:curr
            }).ls
            maxValue = h.reduce(function(prev,curr){
                return prev.ls > curr.ls?prev:curr
            }).ls
        }

        $(h).each(function (index, item) {
            var showTitle = true
            var pos = "height:" + ( 100-parseInt(getRangePercent(minValue,maxValue,item.ls)) ) + "%;"
            var style = " style='" + pos + "'" 
            clsOuter="greenb"
            if (detectPump2(h,index,largeChangeAmount)){
                clsOuter += " pump" // ' glyphicon glyphicon-info-sign text-success'
                clsInner += " pump"
            }
            if(detectDump2(h,index, largeChangeAmount)) {
                clsInner += " dump" //' glyphicon glyphicon-info-sign text-warning'
                clsOuter += " dump"
            }

            if(showTitle){title = " title='" + item.ls + " pi: " + + parseFloat(item.pc).toFixed(3) + "'"}else{title=""}

            bar = bar + "<div class='" + clsOuter + "' style='" + mw + "'" + title + "><div class='redb" + clsInner + "'" + style  +  "'></div></div>"
            oldestPrice = item.ls
            oldestTime = item.ts
            if(index=0){newestTime = item.ls}
            clsOuter=""
            clsInner="" 
        })
        bar = "<div style='width:100%'>" + bar + "</div><div style='margin-top:10px'>" + oldestPrice + " - " + parseInt((curTime - oldestTime)/60) + " minutes ago --- " + (h.length / parseInt((curTime - oldestTime)/60)).toFixed(2) + " tpm -- " + h.length + "</div>"

        return bar
    }catch(e){
        return ""
    }
}

function getRangePercent(min,max,value){

        return ((value - min) * 100) / (max - min)
}

</script>