<template>
    <div id="lOrder">
        <table class="orders-table table-striped table-hover table-condensed">
            <th>Bids</th>
            <tr><td >Price</td><td>Quantity</td></tr>
            <tr v-for="item in getBids">
                <td >{{parseFloat(item[0]).toFixed(8)}}</td><td>{{parseFloat(item[1]).toFixed(8)}}</td>
            </tr>
        </table>
        <table class="orders-table table-striped table-hover table-condensed">
            <th>Asks</th>
            <tr><td >Price</td><td>Quantity</td></tr>
            <tr v-for="item in getAsks">
                <td >{{parseFloat(item[0]).toFixed(8)}}</td><td>{{parseFloat(item[1]).toFixed(8)}}</td>
            </tr>
        </table>
    </div>
</template>

<script>
  module.exports={
      data: function(){
        return {
          orderBook:{"USDT_BTC":{bids:[],asks:[]},got:"notyet"},
          selectedPair: "USDT_BTC"
        }
      },
      methods: {
          cumSumOrderBook: (pair)=>{
              return cumulativePairOrderVolume(poloO.orderBook,pair)
          },
          totalSumOrderBook: (pair)=>{
              var tmp = totalOrderVolume(poloO.cumSumOrderBook(pair))
              
                  return tmp
          },
          getFirstXRows(array,rows){
              return array.slice(0,rows)
          }
          
      },
      computed: {
          getAsks(){
              return this.orderBook[this.selectedPair].asks.slice(0,20)
          },
          getBids(){
              return this.orderBook[this.selectedPair].bids.slice(0,20)
          }
      }
  }
</script>