 
      body{
          background-image: url(../../images/unsplash_stocks.jpg);
          background-size: cover;
      }
      .login {
          /* margin: auto;
          margin-top: 13%; */
          color: white;
          /* text-align: center; */
          width: fit-content;
          max-width: 70%;
          display: grid;
          background-color: rgba(255,255,255,.9);
          color: var(--gray);
          /* border-radius: 5px; */
          padding: 60px 40px;
      }
     
      .loginbutton {
          font-size: 20px;
          background-color: #FF8F00 !important;
          color: white !important;
          font-weight: 400;
          padding: 10px;
          border: none;
      }
      .loginregister a {
          color: #FF8F00 !important;
          font-size: 11px;
      }

      .loginregister {
          margin-top: 20px;
          text-decoration: underline;
          font-size: 18px;
          line-height: 26px;
      }
      .bb {
          padding: 9px;
          width: 75%;
          border: 1px solid black;
          font-size: 14px;
      }
      .btn {
          font-size: .8vw !important;
          width: 16vw;
          height: auto;
          font-weight: 200;
          line-height: 28px;
      }
      .btn.waves-effect{
          padding: 5px
      }
      .fa-2x {
          font-size: 1.5vw !important;
          float: left;
          margin-left: 20px;
          margin-top: 5px;
      }
      .login-title {
          margin-left: 10%
      }
      .login-title h5 {
         font-size: 3rem;
         color: white
      }
      .error {
          color: red;
          margin-bottom: 5px;
      }
      .success {
          color: green;
          margin-bottom: 5px;
      }
      .mmessage{
          display: none;
      }
      .mainmessage {
        grid-column: 1/3;
        /* max-width: 400px; */
        padding-top: 20px;
        font-size: 14px;
        text-align: center;
      }
      @media (min-width: 960px){
          .login {
              position: absolute;
              grid-template-columns: 1fr 1fr;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
          }
          .standard-login {
              padding-top: 6px;
              display: grid;
              grid-template-columns: 1fr 20px;
          }
          .verLn {
            background: #ccc;
            width: 1px;
            height: 100%;
            margin: 0 auto;
          }
          .or {
            position: absolute;
            left: 0;
            top: 40%;
            z-index: 2;
            width: 100%;
            background-color: #eaeaeb;
          }
          .social-login {
              /* padding-top: 24px; */
          }
          /* .or {
            margin-left: 30px;
            grid-column: 1/3;
            text-align: center;
          } */
          h1 {
              font-weight: 400 !important;
              margin-top: 32px;
              /* margin-bottom: 35px; */ 
              font-size: 25px;
              display: inline-block;
          }
          #logo{
              font-size: 12px;
              grid-column-start: 1;
              grid-column-end: 3;
              text-align: center;
              padding-bottom: 40px;
          }
          #logo img{
              margin-top: -20px !important;
              /* margin-bottom: 40px; */
              width: 60px;
              /* float: left; */
              vertical-align: middle;
          }
          .backhome {
              grid-column: 1/3;
              text-align: center;
              padding-top: 20px;
          }
      }
      @media (max-width: 959px) {
            .standard-login {
                grid-column: 1/3;
            }
            .verLn {
                display: none;
            }
            .social-login {
                grid-column: 1/3;
            }
            .mmessage{
                display: block !important;
                margin-bottom: 40px;
                grid-column: 1/3;
            }
            #logo {
                text-align: center;
            }
            h1 {
                /* margin-top: -30px; */
                display: inline-block;
                font-size: 28px;
            }
            #logo img {
                margin-top: -20px !important;
                /* margin-bottom: 40px; */
                width: 60px;
                vertical-align: middle;
            }
            .login {
                grid-template-columns: 1fr !important;
                width: 96% !important;
                max-width: 96%;
                padding: 60px 20px !important;
            }
            .loginregister {
                margin-bottom: 30px;
            }
            .login-title h5{
                font-size: 5vw !important;
            }
            .verLn {
                display: none;
            }
            .btn {
                font-size: 4vw !important;
                width: 90% !important;
                height: 12vw !important;
            }
            .fa-2x {
                font-size: 4vw !important;
                float: left;
                margin-left: 20px;
            }
            .backhome {
                padding-top: 20px;
            }
            .bb {
                width: 85% !important;
            }
      }
