body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 110px;
}
h4 {
    font-weight: 400;
    color: grey;
}
p {
    color: grey;
}
.white-text {
    color: white;
}
.dark-orange-text {
    color: #F57C00;
}
.centered {
    text-align: center !important;
    margin: auto;
}
.btn {
    padding: 0.5em 1em !important;
    margin: 0.1em;
    border: none;
    text-decoration: none;
    border-radius: 0;
}
.orange-button {
    background-color: #F57C00;
    color: white !important; 
}
.orange-button:hover {
    background-color: #FF9800; 
    color: white;
    border:none;
}
.form-control {
    border-radius: 0;
}
.form-control:focus {
    border-color: #FF9800;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px #FF9800;
  }
.trader-background {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
    background-image: url("../img/trader_background_img.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
.container-fluid {
    padding: 2em 3em;
}
h1 {
    font-size: 2.4em !important;
    text-align: center;
}
#header-buttons {
    margin-top: 1em;
    text-align: center;
}
h2 {
    font-size: 1.6em !important;
}
p {
    font-size: 1em !important;
    line-height: 1.7;
}
.trader-background {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.btn {
    font-size: 1em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .container-fluid {
        padding: 2em 5em;
    }
    h1 {
        text-align: left;
    }
    h2 {
        font-size: 2em !important;
    }
    .trader-background {
        padding-top: 5em !important;
        padding-bottom: 5em !important;
    }
    .btn {
        font-size: 1em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #dashboard-preview {
        padding-top: 50px;
    }
    .container-fluid {
        padding: 2em 4em;
    }
    h1 {
        font-size: 3em !important;
    }
    .trader-background {
        padding-top: 5em !important;
        padding-bottom: 5em !important;
    }
    .btn {
        font-size: 1em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        padding: 4em 6em;
    }
    p {
        font-size: 1.2em !important;
        line-height: 1.7;
    }
    .trader-background {
        padding-top: 10em !important;
        padding-bottom: 10em !important;
    }
    .btn {
        font-size: 1em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        padding: 4em 15em;
    }
    h1 {
        font-size: 4em !important;
    }
    p {
        font-size: 1.3em !important;
        line-height: 1.7;
    }
    .btn {
        font-size: 1.2em;
    }
}
/* Extra extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
    .container-fluid {
        padding: 4em 15em;
    }
}