body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 110px;
}
h4 {
    font-weight: 400;
    color: grey;
}
p {
    color: grey;
}
.white-text {
    color: white;
}
.dark-orange-text {
    color: #F57C00;
}
.container-fluid, .container-fluid-wide {
    border-bottom: 1px solid #F5F5F5; 
}
.centered {
    display: block;
    text-align: center;
    margin: auto;
}
.grey-background {
    background-color: #FAFAFA;
}
.btn {
    padding: 0.5em 1em !important;
    margin: 0.1em;
    border: none;
    text-decoration: none;
    border-radius: 0;
}
.orange-button {
    background-color: #F57C00;
    color: white !important; 
}
.orange-button:hover {
    background-color: #FF9800; 
    color: white;
    border:none;
}
.orange-border-button {
    background-color: white;
    border: 1px solid #F57C00; 
    color: #F57C00 !important;
}
.orange-border-button:hover {
    background-color: #F57C00;
    color: white !important;
}
.feature-img {
    margin-bottom: 2em;
}
.tick-mark {
    display: inline-block;
    width: 25px;
    height: 25px; 
    margin-bottom: 0.5rem;
    margin-right: 1em;
}
.trader-background {
    padding-top: 10em !important;
    padding-bottom: 10em !important;
    background-image: url("../img/trader_background_img.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
#dashboard-preview {
    padding: 20px;
    padding-top: 10px;
}
.container-fluid {
    padding: 2em 3em;
}
.container-fluid-wide {
    padding: 4em 2em;
}
h1 {
    font-size: 2.4em;
    text-align: center;
}
#header-buttons {
    margin-top: 1em;
    text-align: center;
}
h4 {
    font-size: 1.2em;
    line-height: 1.5;
    font-weight: 600;
}
p {
    font-size: 1.1em !important;
    line-height: 1.7;
}
#get-started-header {
    font-size: 2.5em;
}
.trader-background {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}
.btn {
    font-size: 1em;
}
.feature-img {      
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
}
.top-feature-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 20%;
    margin-top: 2em;
    margin-bottom: 0.8em;
}
.feature-container-header {
    padding: 0em 0em; 
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.4em;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #dashboard-preview {
        padding: 50px;
        padding-top: 10px;
    }
    .container-fluid {
        padding: 2em 5em;
    }
    h1 {
        font-size: 3m;
        text-align: left;
        
    }
    h4 {
        font-size: 1.2em;
        line-height: 1.5;
    }
    #get-started-header {
        font-size: 2.5em;
    }
    .trader-background {
        padding-top: 5em !important;
        padding-bottom: 5em !important;
    }
    .btn {
        font-size: 1em;
    }
    .feature-img {      
        max-width: 20%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .top-feature-img {
        max-width: 30%;
        margin-bottom: 1em;
        margin-top: auto;
    }
    #dashboard-preview {
        padding-top: 50px;
    }
    .container-fluid {
        padding: 2em 5em;
    }
    h1 {
        font-size: 3em;
    }
    h4 {
        font-size: 1.2em;
        line-height: 1.5;
    }
    #get-started-header {
        font-size: 2.5em;
    }
    .trader-background {
        padding-top: 5em !important;
        padding-bottom: 5em !important;
    }
    .btn {
        font-size: 1em;
    }
    .feature-img {      
        max-width: 20%;

    }
    #header-buttons {
        text-align: left;
    }
    .feature-container-header {
        padding: 0em 2em; 
        padding-bottom: 1em;
        text-align: center;
        font-size: 2em;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        padding: 4em 10em;
    }
    h1 {
        font-size: 3em;
    }
    h4 {
        font-size: 1.2em;
        line-height: 1.5;
    }
    p {
        font-size: 1.2em !important;
        line-height: 1.7;
    }
    #get-started-header {
        font-size: 3em;
    }
    .trader-background {
        padding-top: 10em !important;
        padding-bottom: 10em !important;
    }
    .btn {
        font-size: 1em;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        padding: 4em 15em;
    }
    h1 {
        font-size: 4em;
    }
    h4 {
        font-size: 1.2em;
        line-height: 1.5;
    }
    .btn {
        font-size: 1.2em;
    }
    .feature-img {
        max-width: 20%;
    }
}
/* Extra extra large devices (large desktops, 1500px and up) */
@media (min-width: 1500px) {
    .container-fluid {
        padding: 4em 20em;
    }
    .feature-img {
        max-width: 20%;
    }
}