.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-right: 1em;
    margin-bottom: 0.5em;
}
.footer {
    padding: 3em 5em;
}
.footer-title {
    font-size: 1.2em;
    font-weight: bold;
}
#footer-bullcryp {
    margin-left: 1em;
}
.footer-sub-text {
    font-size: 1em !important;
    margin: 0;
}
.footer-links {
    line-height: 2;
}
.footer-links a {
    color: black; 
}
.footer-links a:hover {
    color: grey;
    text-decoration: none;
}