.navbar {
    border-bottom: 1px solid #F5F5F5; 
    font-size: 1.2em;
    background-color: white;
    padding: 0.8em 3em;
}
.navbar-toggler-icon {
    width: 30px;
    height: 30px;
}
.navbar-brand {
    padding-left: 15px;
}
.nav-link {
    color: black; 
    margin-right: 1em;
    padding: 10px !important; 
}
.nav-link:hover {
    color: grey; 
}
#dashboard-btn {
    font-size: 1em;
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.brand-img {
    width: 75px;
    height: 75px;
    float: left;
}