<!-- Lodash -->
<script  src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js" ></script>

  <!-- JQuery -->
  <!-- onload="checkLib(jQuery,'https://code.jquery.com/jquery-3.3.1.min.js')"> -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" defer></script>   
  <!-- Check scripts for local fallback -->
  <script>
    /* checkLib(jQuery,'https://code.jquery.com/jquery-3.3.1.min.js')
       if (typeof jQuery === 'undefined') {
       document.write('<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
     } */
  </script>

 <!-- Trading View -->
 <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

  <!-- VUE -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>

  <!-- bootstrap tooltips -->
  <!-- popper -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" defer></script>

  <!-- Material Design Bootstrap -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.0/js/mdb.min.js" defer></script>

  
    

  <!-- Chart.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
  

  <!-- Sweet Alert -->
  <script async src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.10/dist/sweetalert2.min.js"></script>
  
  <!-- Moment -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>


  <!-- Main app -->
  <script src="newjs/lib/lz-string.min.js"></script><!-- LZString -->
  <script src="newjs/lib/jquery-qrcode.min.js"></script>
  <script defer src="newjs/lib/select2.full.min.js"></script>
  
  <script src="newjs/bundle.js"></script>

  