
<h1>Bullcryp Trader</h1>
<h2 id="terms"> A. Terms of Service</h2>
Provision of the Services by "Bullcryp.com" <p>
By using any of the "Bullcryp" products, software, or services available at Bullcryp.com (collectively referred to as "Services") provided by "Bullcryp", you agree to be bound by the following terms and conditions ("Terms of Service").
<ol>
<li> Your use of the Services is at your sole risk. The Services are provided on an "as is" and "as available" basis.</li>
<li> We make no warranty that: 
   <ul>
    <li>The Services will meet your specific requirements or expectations.</li>
    <li>The Services will be uninterrupted, timely, secure, error-free, or data-loss free.</li>
    <li>The results that may be obtained from the use of the Services will be accurate, or reliable.</li>
    <li>The deletion of, corruption of, or failure to store, any content and other communications data maintained or transmitted by or through the use of the Services.
    <li>Any errors or defects in the Services will be corrected.</li>
  </ul>
</li>
<li>You understand and agree that Bullcryp shall not be liable for any direct, indirect, incidental, special, consequential or exemplary damages, including but not limited to any loss of profit, loss of goodwill, loss of business reputation, loss of data, cost of procurement of substitute goods or Services, or other intangible loss, resulting from use of the Services</li>

<li>Technical support is provided on a best-effort basis and only by e-mail.</li>
<li>You understand that Bullcryp can use third parties (e.g., hosting partners) to provide the necessary resources (e.g., hardware, software, networking, storage, etc.) to run the Services.</li>
<li> Bullcryp may stop, remove, modify, or add (permanently or temporarily) Services (or features within Services) at Bullcryp sole discretion. Any new, changed, or removed features are subject to the Terms of Service. Continued use of the Services after any such changes constitute your consent to the changes.</li>
<li>You are responsible for all content posted and activity that occurs under your Bullcryp account. This means that you need to ensure that all of the content posted complies with all applicable laws, copyright and regulations.</li>
</ol>


<h2 id="privacy"> B. Privacy Policy</h2>
<ol>
<li>We respect your privacy. Bullcryp will not collect, use or disclose your personal information for any purpose.</li> 
<li>Bullcryp does NOT share, sell or trade your personal data e.g: e-mail, Contact Number, Photos with any third party.</li>
<li>You understand that BullCryp may send product and account related emails, unless otherwise instructed, to the email used for registration or the email associated with social login.</li>
<li>Bullcryp also doesn't store any users' images in our database, however it does stores the URL (link) to those images.</li>
<li>Protection of Bullcryp and Others: We may release personal information when we believe in good faith that release is necessary to comply with a government institution or other third party in response to a court order or if otherwise required or authorized by law.
<li>International Users: The servers used by Bullcryp reside in United States while Bullcryp operates from Canada. As a result, Canada and United States federal and state governments, courts, or law enforcement or regulatory agencies may be able to obtain disclosure of your information through laws applicable in Canada and The United States. Your use of these Services or your submission of any personal information to us will constitute your consent to the transfer of your personal information outside of your home country, including the Canada and United States, which may provide for different data protection rules than in your country.</li>
</ol>

<h2 id="children"> C. Children and Minors</h2>
The Bullcryp Services are not intended for use by minors under the age of 13. We do not knowingly solicit any information from such minors. If you are a parent or legal guardian who discovers that your child has provided us with information without your consent, you may contact us at <a href="mailto:support@bullcryp.com" target="_blank">support@bullcryp.com</a>. We will delete such information from our system.
<p>
<h2 id="questions"> D. Questions</h2>
Please don't hesitate to contact us at <a href="mailto:support@bullcryp.com" target="_blank">support@bullcryp.com</a> if you have questions or concerns.

<h5>Bullcryp Trader (c) 2017. Proudly made in <a href="http://www.readersdigest.ca/travel/canada/13-awesome-things-you-didnt-know-were-made-canada" target="_blank">Canada</a>.</h5>
