/* variables */
:root {
  --blue_200: #90CAF9;
  --blue_300: #64B5F6;
  --blue_400: #42A5F5;
  --blue_500: #2196F3;
  --blue_600: #1E88E5;
  --blue_700: #1976D2;
  --blue_800: #1565C0;
  --blue_900: #0D47A1;
  --amber_200: #FFE082;
  --amber_300: #FFD54F;
  --amber_400: #FFCA28;
  --amber_500: #FFC107;
  --amber_600: #FFB300;
  --amber_700: #FFA000;
  --amber_800: #FF8F00;
  --amber_900: #E65100;

  --offwhite: #EEEEEE;

  --dark: #343a40;

  --toolbar_transition: .5s;
  --toolbar_font_transition: .5s;

  --mediumdarkgreen: #649464;
  --mediumdarkred: #be8080;
  --lightgray: #f1eeee;

  /** site elements  colors */
  --section_background: #eeeeee; /*--offwhite*/
  --left_sidebar: #343a40; /*--dark*/
  --button_face: #FF8F00; /*--amber_800*/
  --button_face_hover: #FFA000; /*--amber_700*/

  --slider_background: #f8a039;
}
.whitetext{
  color: white;
}

html, body, #app {
  width: 100%;
  height: 100%;
  /* color: var(--gray) !important */
  color: var(--gray) !important;
  font-size: 1.1vw !important;
  -ms-overflow-style: none;

}
html::-webkit-scrollbar,body::-webkit-scrollbar {
  display: none
}
.bullbutton{
  padding: .06rem .3rem !important;
  font-size: .74rem !important;
  margin: 1px 5px 0 0 !important;
  /* background-color: white !important;
  border: 1px solid #f80!important; */
}
/* .btn-warning.noshadow:hover {
  border: 1px solid var(--blue_600) !important;
  background-color: white !important;
} */
div.onboardButton {
  position: absolute;
  /* top: 140px; */
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 10001;
}
div.onboardOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .6;
  border-radius: 10px;
  cursor: pointer;
  z-index: 100;
}
#tooltipbutton.tooltipbutton {
  background-color: grey !important;
}

#refreshCMC i{
  padding: 5px !important;
}
#refreshCMC i{
  font-size: 18px !important;
}
.noshadow {
  box-shadow: none !important;
}
::-webkit-scrollbar { appearance: none;-webkit-appearance: none; width: 7px; } 
::-webkit-scrollbar-thumb { border-radius: 4px; background-color: rgba(0,0,0,.5);}

/* Effects */
.transition {
  transition: all var(--toolbar_transition);
  -webkit-transition: all var(--toolbar_transition);
}
/* General */
.heavy {
  font-size: 1.75rem;
  font-weight: 500;
  /* color: #8ca2bf; */
  color: var(--gray)
}
.medium-heavy {
  font-size: 1.15rem;
  font-weight: 500;
  color: var(--gray)
}
.hide {
  color: white;
  display: none;
}

/* sweet alert helper */
button.swal2-confirm.swal2-styled {
  background-color: var( --blue_600) !important;
  border-left-color: var( --blue_600) !important;
  border-right-color: var( --blue_600) !important;
}
button.swal2-cancel.swal2-styled {
  background-color: var( --amber_700) !important;
  border-left-color: var( --amber_700) !important;
  border-right-color: var( --amber_700) !important;
}
.jh-type-object, .jh-type-array {
  font-size: 12px;
  font-weight: normal !important;
  line-height: 10px;
}
.jh-empty {
  font-size: 10px !important;
}

/* Buttons */
.r_but {
  z-index: 12;
  background-color: var(--button_face)!important;
  color: #FFF;
  font-size: 1.3vw;
  text-align: center;
  border-style: none;
  margin: 0 !important;
  padding: 10px !important;
}
.r_but:hover {
  background:var(--var(--button_face_hover))!important;
}
div.savebutton {
  margin-top: 20px;
}

.roundcancel{
  width: 19px;
  height: 19px;
  text-align: center;
  font-size: 13px;
  border-radius: 50%;
  color: white;
  top: 4px;
  margin-left: 4px;
}
/* controls */
#buypair_chosen{
  width: 130px !important;
}
.chosen-with-drop{
  top: auto !important;
  bottom: 270px
}

/* forms */
.formgrid {
  display: grid;
  grid-template-columns: 140px 1fr;
  /* width: fit-content; */
  margin-top: 20px;
  margin-left: 20px;
}
.dashboard.formgrid {
  grid-template-columns: 250px 1fr !important;
}
.formgrid .title {
  grid-column: 1/3;
}
.formgrid > div{
  min-height: 32px;;
}
.md-form{
  margin-top: 0px !important;
}
.formgrid input {
  width: 100px;
}
.md-form input {
  padding: 0 !important
}
::placeholder { /* Most modern browsers support this now. */
  color:   lightgray;
  opacity: .5;
}
#settings_exchanges{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#settings_exchanges button {
  /* margin-top: 20px; */
  margin-left: 10px !important;
}
textarea {
  border-radius: 10px;
  border-color: lightgray;
}
#qrcode {
  margin-top: 20%;
  transform: translateY(-30%);
  position: static;
}
  
/* Page Sections */
/* Main app  */
#app {
  display: grid;
  grid-template-columns: 70px auto;
  background-color: var(--dark);
}
#header {
  position: relative;
  text-align: center;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(https://www.bullcryp.com/trader/imgs/bullcryp_splash.jpg);
  z-index: 1000;
}
.headertint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #353a40;
  opacity: 1;
}
.pbswitch {
  display: inline-block;
  height: fit-content;
  position: relative;
  top: -3px;
  margin-left: 10px;
}
.pbswitch .slider {
  background-color: var(--slider_background) !important;
}
.userpic {
  margin: 5px 0 0 20px;
}
img#userpic {
  width: 3.8vw;
  border-radius: 50%;
}

#logo-head {
  display: none;
  position: fixed;
  top: 4px;
  left: 100px;
  width: fit-content;
  height: fit-content;
}
#logo-head img {
  display: block;
  width: 40px;
}
div#exStatus {
  color: lightgrey;
  position: absolute;
  top: 4px;
  right: 10px;
  display: grid;
  grid-template-columns: 1fr .9fr .9fr;
  grid-gap: 0px;
  width: fit-content;
  margin-top: auto;
  font-size: 12px;
  font-weight: 300;
  opacity: 0;
  transition: opacity 2s;
}
.btcprice{
  opacity: 0;
  transition: opacity 2s;
}
.redot, .greendot {
  width: 14px;
  height: 14px;
  border-radius: 20px;
  display: block;
  margin: 1px 4px 0px 10px;
  float: left;
}
.redot{
  background-color: #e26e58;
}
.greendot{
  background-color: #58ac57;
}
i.fas {
  font-size: 1.5vw;
  color: var(--offwhite);
  cursor: pointer;
}
/* Overview Header Text */
.greeting-wrap {
  grid-column-start: 1;
  grid-column-end: 3;
}
h1#greeting{
  text-align: right;
  /* margin: 0 auto; */
  font-weight: 500;
  font-size: 3.5vw;
  color:var(--offwhite) !important;
}
h3#currPortfolio {
  font-size: 1.6vw;
  color: #FFA726;
  text-align: center;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s;
}
#main {
  /* display: grid;
  grid-template-rows: max-content auto; */
  background-color: var(--section_background);
}
.navel-wrap{
  padding: 20px 0;
  height: 100%;
}
#toolbar {
  background-color: var(--left_sidebar);
  color: lightgray;
  font-size: 21px;
  /* padding-top: 50px; */
  width: 70px;
  grid-column: 1;
  /* grid-row: 1/2; */
  z-index: 1001
}
/* Main Sections */
.section {
  padding: 0 5px;
  width: 100%;
}
.sectionCollapsed {
  overflow: hidden;
  height: 36px;
  padding-top: 10px !important;
}
.sectionCollapse {
  position: inherit;
  display: block;
  float: right;
  margin-top: -25px;
  margin-right: -15px;
}
.sectionCollapsed .sectionCollapse{
  margin-top: -5px;
}
/* .sectionCollapsed .tabcontentholder {
  padding-top: 10px;
} */
.sectiontitle {
  margin: -5px 0 20px 10px;
  /* text-align: right; */
}
/* #trade .sectiontitle, #holdings_overview .sectiontitle{
  position: absolute; 
  right: 3%;
} */
.section img{
  width: 100%;
  max-height: 400px
}
.sections {
  padding-top: 5px;
}
.sections #overview {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: calc(100% - 194px);
  overflow-x: hidden;
}
div#portfolio-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
img.sparkline {
  width: 70px;
  margin-left: 15px;
  border: 1px solid lightgray;
  padding: 2px 5px;
}
#holdings_overview, #news_overview, #market_status{
  grid-column-start: 1;
  grid-column-end: 3;
}
div#market_status {
  display: grid;
  grid-template-columns: auto 300px 350px  auto;
  min-height: 276px;
}
div#status_title {
  grid-column-start: 1;
  grid-column-end: 5;
}
.sg_label, .sl_label {
  color: white;
  position: relative;
  height: 21px;
  z-index: 200;
  line-height: 140px
}
.status-gl {
  width: 150px;
  height: 150px;
  border: 2px solid var(--amber_300);
  border-radius: 50%;
  float: left;
  text-align: center;
  /* padding-top: 18%; 4% @ 50px, 18% @ 150px, 26% @ 200px */
}
.mov-wrap {
  border-bottom: 1px dotted #d3d3d394;
  border-top: 1px dotted #d3d3d394;
  display: inline-block;
}
.status_gainers {
  background-color: rgba(163, 215, 163, 1);
  margin-right: -30px;
  margin-left: 10px;
  position: relative;
}
.status_losers {
  background-color: rgba(213, 160, 160, 1);
  margin-right: 10px;
  position: relative;
}
.sections #trade {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100% - 56px)
}
.sections #settings {
  display: none;
  height: calc(100vh - 66px);
}
#settings_content{
  height: 100%;
}
/** tradigview ticker widget */
.tvtickerholder{
  height: 47px;
}
.tvtick {
  height: 56px !important;
  padding: 0 9px;
  display: none;
}
.tvtick iframe {
  height: 60px !important;
}
.tickerb {
  display: none;
}
.tradingview-widget-copyright {
  display: none !important;
}
/**
tvtrade iframe
*/
iframe{
  border: none;
}
.tvchartb {
  /* max-width: 50%; */
  height: 40vh;
  max-height: 40vh;
}
.tvchart {
  /* max-width: 50%; */
  height: 80vh;
  max-height: 80vh;
}
.tvchart iframe, .tvchartb iframe {
  max-height: 100%;
}
/* Tabs and containers */
div#overview_home {
  display: grid;
  grid-template-columns: 1.2fr .8fr;
}
.tab-gap{
font-size: 12px;
padding: 9px 10px 0;
}
div#trade_tabs {
  margin-left: 40px;
}
#chart_tabs, #exchange_tabs {
  margin: 8px 0 -11px;
}
#trade_section {
  margin-bottom: -3px !important;
}
div#trade_charts {
  padding-top: 20px;
}
.tabcontentholder {
  margin: 5px;
  /* border: 1px solid var(--amber_300); */
  border-radius: 5px;
  background-color: white;
  padding: 30px 20px 20px;
}
.tabsholder{
  clear: both;
  padding-bottom: 5px !important;
}
.hidden {
  display: none;
}
.tab-pane {
  padding-top: 0;
}
.tab-pane:not(.show) {
  display: none;
}

/* #homw_wrap{
  width: 75% 
}
.homw {
  min-height: 500px 
} */
div.buygrid {
  display: grid;
  align-items: center;
  grid-template-columns: max-content max-content 220px 200px max-content max-content;
  grid-gap: 20px;
}
li#add_advanced {
  min-width: 40px;
}
li.nav-item.waves-effect {
  max-width: fit-content;
  width: 100px;
  min-width: 100px;
  overflow: hidden;
  max-height: 41px;
  height: 41px;
  margin: 0 1px -5px;
}
a.nav-link {
  background-color: #fdfbfb;
  max-height: 36px;
  overflow: hidden;
  border-color: #dee2e6 #dee2e6 #fff !important;
}
a.nav-link.active {
  background-color: var(--amber_200) !important; 
}
/* End Sections */


/* Nav Buttons */
.navigation .nav_element div:first-child{
  margin-top: 2px
}
.navigation .nav_element div:last-child{
  opacity: 0;
  margin-top: 4px
}
.navigation {
  position: sticky;
  position: -webkit-sticky;
  top: 220px;
  width: 100%;
  height: calc(100vh - 220px);
}
.nav_element, .controls {
  cursor: pointer;
  padding: 14px 12px;
  line-height: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 20px;
}
.nav_element div:first-child {
  text-align: center;
}
.nav_element:hover {
  color: var(--offwhite);
  background-color: #505667;
}
.nav_element img, .controls img{
  width: 30px;
  /* transition: all 1s;
  -webkit-transition: all 1s; */
}
.selected {
  color: var(--offwhite);
  background-color: #505667;
}
/* End Nav Buttons */

/* Logo */
#logo {
  position: fixed;
  left: 6px;
  top: 20px;
  font-size: 9px;
  text-align: center;
  color: #f8a039;
}
#logo img {
  width: 60px;
}
/* End Logo */
/** trade */
.sell {
  color: var(--mediumdarkred);
  font-weight: bold;
}
.buy {
  color: green;
  font-weight: bold;
}
/*  Charts */
div#tvlabel {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
  color: var(--amber_800);
  padding: 0px;
  margin-left: 27px;
  margin-top: 11px;
  width: fit-content;
  background-color: white;
}
#accounthistorywrap{
  width: 54vw;
  height: 400px;
  margin: 0 auto;
}
#overviewChartWrap{
  width: 36vw;
  /* height: 36vw; */
  max-height: 36vw;
  text-align: center;
  margin-top: -50px;
}
#accounthistorywrap img{
  height: 380px;
  width: 54vw;
  margin: 26px 34px;
}
#overviewChartWrap img{
  max-height: 380px;
  max-width: 380px;
}
#holdings{
  max-height: 400px;
  max-width: 400px;
  margin: 0 auto;
}
.hogroup, .orgroup, .moversgroup {
  border: 1px solid lightgrey;
  padding: 5px;
  margin-top: 5px;
  height: 635px;
}
.moversgroup {
  overflow: scroll;
}

/* Movers Table */
#hobanner, #orbanner {
  font-weight: bold;
}

#movers, #ho{
  width: fit-content;
}
/* .moversgroup {
  max-width: 70vw;
} */

.moverscount{
  min-width: initial !important;
  width: 25px;
  max-width: 25px;
  float: left;
}
.moversrow{
  display: grid;
  grid-template-columns: 25px 100px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1px;
  overflow: auto;
  /* background-color: var(--lightgray); */
  border-bottom: 1px dotted var(--amber_200);
  cursor: pointer;
}
.rowview .horow {
  display: grid;
  grid-template-columns: 32px 1fr 1fr 1fr 1fr 1fr 50px 50px;
  grid-gap: 1px;
  overflow: auto;
  /* background-color: var(--lightgray); */
  border-bottom: 1px dotted var(--amber_200)
}
.rowview .orrow {
  display: grid;
  grid-template-columns: 22px 10px 22px 1fr 1fr 1fr 1fr 65px 90px;
  grid-gap: 1px;
  overflow: auto;
  /* background-color: var(--lightgray); */
  border-bottom: 1px dotted var(--amber_200)
}
.stack {
  background-image: url(https://www.bullcryp.com/trader/imgs/goldcoin.png);
  height: calc(64px - 20px);
  margin-top: 64px;
  background-size: contain;
}
.cardview {
  display: grid;
  grid-template-columns: repeat( auto-fill, 180px );
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  font-size: 12px !important;
}
.rowsymbol {
  background-color: #90caf921;
  overflow: hidden;
}
.cardview .horow {
  border: 1px dotted rgb(231, 229, 229);
  border-radius: 5px;
  /* background-color: #fbf7ec; */
  font-weight: bold;
  /* padding: 5px; */
  display: grid;
  grid-template-columns: 35px 1fr;
  /* height: 131px;
  max-height: 131px; */
}
.cardview .horow ::before {
  font-weight: normal;
  font-size: 10px;
}
.cardview .horow > div:nth-child(2) {
  /* float: left; */
  padding: 0 0 0 5px;
}
/* .cardview .horow div:last-child div:nth-child(2) {
  margin-left: 26px
} */
.cardview .horow div:last-child div:nth-child(2)::before {
  content: "Amount ";
}
.cardview .horow div:last-child div:nth-child(3)::before {
  content: "On Order ";
}
.cardview .horow div:last-child div:nth-child(4)::before {
  content: "BTC Value ";
}
.cardview .horow div:last-child div:nth-child(5)::before {
  content: "USD Value ";
}
.cardview .horow div:last-child div:nth-child(6) {
  float: left;
  margin-left: 14px;
}
.moversrow:first-child, .horow:first-child, .orrow:first-child{
  position: sticky;
  top: 0px;
  background-color: white;
  font-weight: 500
}
.cardview .horow:first-child, .cardview .orrow:first-child {
  display: none
}
.moversrow div:nth-child(2){
  width: 100px;
}
.moverspair{
  padding-right: 10px;
  min-width: 140px;
}
.movers{
float:left;
}
.moversdata{
  min-width: 70px;
  text-align: center;
  font-weight: bold;
}
.moversdata:last-child {
  margin-right: 3px !important;
}
.movershead {
  cursor: pointer;
}
.moversdata.movershead:nth-child(2){
  /* margin-left: 21px; */
  width: 100px !important;
}
.moversdata:not(.movershead){
  margin: 1px 0;
  font-size: 12px;
}
#moversWrap .moversrow:hover .moversdata,
#howrap .horow:hover,
#orwrap .orrow:hover {
  background-color: #FAFAFA !important;
}
.movers-green{
color: var(--mediumdarkgreen) !important;

}
.movers-red{
color: var(--mediumdarkred) !important;
}

.arrow-down::after {
  content: '\25bc';
  padding-left: 0.5em;
}
.arrow-up::after {
content: '\25b2';
padding-left: 0.5em;
}

/* Gainers Table */
/* #gainers{
  width: fit-content;
} */
#gainersSwitch {
  margin-top: -30px;
  float: right;
}
.rowsymbol img {
  width: 20px;
  height: 20px;
  /* position: absolute; */
}
.cardview .rowsymbol img {
  margin: 5px 0 0 5px;
}
#howrap, #orwrap{
  max-height: 605px;
  overflow: scroll;
  cursor: pointer;
  /* margin-right: 10px; */
}
#gainersWrap{
  max-height: 242px;
  overflow: scroll;
  cursor: pointer;
  margin-right: 10px;
}
.gainerscount{
  min-width: initial !important;
  width: 25px;
  max-width: 25px;
  float: left;
}
.gainersrow{
  display: grid;
  grid-template-columns: 25px 22px .5fr 1.3fr 1fr 1fr 1fr;
  grid-gap: 2px;
  overflow: auto;
  /* background-color: var(--lightgray); */
  border-bottom: 1px dotted var(--amber_200)
}

.gainersrow:first-child {
  position: sticky;
  top: 0px;
  background-color: white;
  font-weight: 900;
}
.gainersrow div:nth-child(2){
  /* width: 200px; */
  overflow: hidden;
  text-overflow: ellipsis;
}
.gainerspair{
  padding-right: 10px;
  /* min-width: 140px; */
}
.gainers{
float:left;
}
.gainersdata{
  /* min-width: 80px; */
  font-weight: 500;
}
.gainersdata:last-child {
  margin-right: 3px !important;
}
/* .gainersdata.gainershead:nth-child(2){
  margin-left: 21px; 
  width: 200px !important;
} */
.gainersdata:not(.gainershead){
  margin: 1px 0;
  font-size: 1vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#gainersWrap .gainersrow:hover .gainersdata {
  background-color: #FAFAFA !important;
}


/** rss feed */
#feed-panel1, #news_overview{
  min-height: 400px;
  position: relative;
}
.newsnav{
  float: right;
  font-size: 16px;
  font-weight: 500;
}
ul.feed-lists {
  display: grid;
  padding-top: 30px;
  list-style: none;
}
ul.feed-lists img {
  width: 10vw;
  float: left;
  margin-right: 20px;
}
.feed-lists li.feed-item {
  border-bottom: dotted 1px lightgrey;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.feed_loading {
  font-size: 2vw;
  padding: 20px 0 0 20px;
  color: #f8a039;
}
.feed_loading img {
  width: 90%;
  height: 108px;
}
.item-news {
  overflow: hidden;
  text-align: left;
  overflow: hidden;
  padding: 10px;
  border-bottom: 1px solid #f5f5f5;
}
.item-news > .col-thumb {
  float: left;
  width: 120px;
}
.item-news > .col-thumb img {
  width: 100px;
  height: 100px;
  border-radius: 4px;
}
.item-news > .col-body {
  margin-left: 120px;
}
.item-news .news-data {
  overflow: hidden;
}
.item-news .news-source {
  float: left;
  font-size: 13px;
  font-weight: bold;
  color: #f79a35;
  margin-right: 15px;
}
.item-news .news-date {
  float: left;
  font-size: 13px;
  color: #999;
}
.item-news h3 {
  font-size: 18px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.news-body {
  height: 60px;
  overflow: hidden;
}
.news-footer {
  overflow: hidden;
  line-height: 27px;
}
.news-footer .news-tags {
  color: #999;
  font-size: 13px;
}
footer.page-footer a {
  color: #212121 !important;
}

/*** FOOTER */

footer {
  margin: 5px 10px !important;
  background-color: #FFF !important;
  color: black !important;
  height: 184px;
  /* border-style: solid;
  border-width: 1px 0px 0px 0px;
  border-color: var(--amber_800); */
}

.footer-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 20px auto;
  padding-left: 10%;
  max-width: 95%;
  color: #616161;
}
.footer-logo-container {
  display: grid;
  grid-template-columns: 100px 1fr;
  font-size: 13px;
  padding: 0 10px;
}
.footer-logo {
  background-image: url(../images/logo_amber.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
}
.footer-container h5{
  color: #212121;
  margin-top: 0;
}
.footer-contact, .footer-text{
  font-size: 14px;
}
.footer-orange{
  color: var(--amber_800);
  font-size: 14px;
}
.socialgrid{
  display:grid; 
  margin-left: 2px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
  max-width: 250px;
}

img.social {
  max-width: 30px;
}

/*** END FOOTER */

/* sweet alert */
.swal2-input{
  margin: 0px 0px 20px 0px !important;
}
.swal2-modal .swal2-range input {
width: 80% !important;
}
input.rangepercent {
width: 50% !important;
margin-left: 25%;
}
.swal2-modal .swal2-range output {
float: initial !important;
width: initial !important;
margin: 16px 0 0px !important;
}
.swal2-range output::after {
content: " %";
}

/* sweet alert helper */
.jh-type-object, .jh-type-array {
  font-size: 12px;
  font-weight: normal !important;
  line-height: 10px;
}
.jh-empty {
  font-size: 10px !important;
}


@media (min-width: 1200px){
  html, body, #app {
    font-size: 14px !important;
  }
  .gainersdata:not(.gainershead) {
    font-size: 14px;
  }
}
@media (min-width: 1600px){
  /** News Items */
  #news_overview .tab-pane{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}


.select2-container{
  min-width: 100px;
}

/** toggle switch */
.market_selector input + .slider {
  background-color: var(--slider_background);
}
.market_selector input:checked + .slider {
  background-color: var(--slider_background);
}
input:disabled + .slider {
  background-color: lightgrey !important;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-bottom: -3px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--slider_background);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

/* feedback */
.feedbackbutton {
  position: fixed;
  bottom: -1%;
  right: 1%;
  z-index: 10000;
}